#serviceFormContainer {
  height: 100%;
  width: 100%;
  padding: 1em;
}
#serviceFormToggleBtn {
  background-color: green;
  color: white;
  width: 100%;
}
#serviceFormToggleBtn:hover {
  background-color: rgb(11, 83, 11);
}

#createServiceForm {
  width: 75%;
  padding-top: 5%;
  padding-bottom: 5%;
}