.ui.tabular.adminServiceMenu {
  transform: translateY(-100px);
  width: 100%;
}
.ui.tabular.adminServiceMenu.serviceMenuOpen {
  transform: translateY(0px);
  transition: transform 200ms linear;
}
.adminServiceMenuFixed { 
  position: fixed;
  top: 42px;
  left: 0px;
  right: 0px;
  z-index: 999;
  background-color: white;
}