
.ui.tabular.menu.adminStoreMenu {
  transform: translateY(-100px);
  width: 100%;
}
.ui.tabular.menu.adminStoreMenu.storeMenuOpen {
  transform: translateY(0px);
  transition: transform 200ms linear;
}

.adminStoreMenuFixed { 
  position: fixed;
  top: 42px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: white;
}
.adminStoreMenuFixed.menuScrolled {
  transform: scaleY(0.8);
  transition: transform 0.5s;
}