.item.productPreviewItem {
  border: 1px solid var(--grey-border-color);
  padding: 1em !important;
}

.adminProductTitle {
  text-align: center;
  font-size: 2.5em;
  font-family: "Lobster";
}
.adminProductDescription {
  border: 0.5px solid  rgb(211, 209, 209);
  padding: 1em;
  margin-bottom: 0.5em;
}
.adminProductDetails {
  border: 0.5px solid rgb(211, 209, 209);
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.adminProductDetails > :nth-child(1) {
  color: rgb(12, 12, 236);
  display: inline-block;
}
.adminProductDetails > :nth-child(2) {
  color: rgb(12, 12, 236);
  display: inline-block;
}
.adminProductImageDetails {
  text-align: center;
  height: 2em;
}