.homeScreenStoreComp {
  margin-top: 5%;
  opacity: 0;
  position: relative;
  transform: translateX(100%);
}
.storeShow {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1.5s ease-in, transform 1s ease-in-out;;
  -moz-transition: opacity 1.5s ease-in, transform 1s ease-in-out;;
  -webkit-transition: opacity 1.5s ease-in, transform 1s ease-in-out;;
}
.homeScreenStoreTitle {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-size: 2em;
  color:  rgb(152, 190, 89);
}
.homeStoreDefaultPhoto {
  border: 2px solid red;
  text-align: center;
}
.homeStoreAddPhoto {
  display: inline-block;
  opacity: 0;
}
.showAddPhoto {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
#goToStoreBtn {
  position: absolute;
  right: 5%;
  bottom: 5%;
}