#homeHeaderTitle {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3.5em;
  font-family: 'Lobster', cursive;
  letter-spacing: 3px;
  border-bottom: 4px solid yellow;
  color: yellow;
}
#homeScreenParallax {
  background-image: url("/images/backgrounds/stock_nature.jpeg");
  min-height: 45vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column.headerBottomColumn {
  padding: 0 !important;
}
#homeHeaderDesc {
  width: 100%;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
  background-image: url("/images/backgrounds/stock_nature.jpeg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center;
  background-repeat: repeat;
  text-align:center;
  margin:auto;
}

.homeHeaderDescImg {
  position: relative;
  float: right;
  transform: translateX(-100%);
  border-top: 3px solid rgb(219, 219, 48);
  border-bottom: 3px solid rgb(219, 219, 48);
}
#homeHeaderImgCover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(26, 29, 13);
  opacity: 0.45;
}
.descImgMoved {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
.homeHeaderDescText {
  position: relative;
  display: flex;
  border-top: 3px solid rgb(219, 219, 48) !important;
  border-bottom: 3px solid rgb(219, 219, 48) !important;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("/images/backgrounds/stock_bg1.jpeg") !important;
  background-size: contain; /* or contain depending on what you want */
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: 0% !important;
}
#homeHeaderLogoImg {
  position: absolute;
  right: 5%;
  top: 5%;
  border: 2px solid #AFD275;
}
.homeHeaderText {
  padding: 1em;
  padding-bottom: 1em;
  opacity: 0.80;
  color: rgb(219, 219, 48);
  font-size: 1.5em;
  font-family:  'Pacifico', cursive;
}
.descTextMoved {
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 450px) {
  #homeScreenParallax {
    min-height: 30vh;
  }
  .homeHeaderDescText {
    width: 100%;
  }
  #homeHeaderDesc {
    background-image: none !important;
  }
  #homeHeaderLogoImg {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
  }
  .homeProductsHolder {
    margin-top: 5%;
  }
}