#storeImgUplFormHolder {
  width: 75%;
  margin-top: 0.5em;
}
#storeImgUploadForm {
  border: 1px solid grey;
  border-radius: 7px;
}
#storeImgInputControlls {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#storeImgInputControlls > label {
  background-color: rgb(69, 143, 40);
  color: white;
}
#storeImgInputControlls > label:hover {
  background-color: green;
}
#storeImgUploadControlls {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#storeImgCancelBtn {
  background: rgb(182, 46, 46);
  color: white;
}
#storeImgCancelBtn:hover {
  background: red;
}
#storeImgUploadBtn {
  background: rgb(69, 143, 40);
  color: white;
}
#storeImgUploadBtn:hover {
  background: green;
}