
/* desktop top navbar custom styling and overrides */
#mainMenuBtn > i {
  padding-left: 15px;
  font-size: 2em;
}
.ui.menu.desktopMenu {
  background: white;
  transition: height 0.5s ease-out, background-color 0.5s ease-in;
}
.ui.menu.desktopMenu a {
  font-size: 1em;
  font-family: "Play", sans-serif;
}
.ui.menu.desktopMenu.navLocked {
  position: fixed !important;
  height: 65px !important;
  background-color: rgb(51, 50, 45);
  color: white !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: height 0.5s ease-out, background-color 0.5s ease-in;
}
.ui.menu.desktopMenu.navLocked a {
  color: white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;

}
.item.menuItem > i {
  font-size: 1.5em;
  color: rgb(152, 190, 89);
}
.item.menuItem.active {
  font-style: italic;
  background-color: #AFD275 !important;
  color: white !important;
}
.item.flagMenu {
  cursor: pointer;
}
.item.flagMenu a {
  border: 0.5px solid white;
}
.item.flagMenu.active {
  background-color: #AFD275 !important;
}
.item.flagMenu:hover {
  background-color: #AFD275 !important;
}

/* mobile navbar custom styling */

#mobileNavbar {
  margin-bottom: 0px;
}
#mobileTopMenuOpen {
  border: 1px solid rgb(152, 190, 89); 
  border-radius: 4px;
  font-size: 1.5em;
}
#mobileTopMenuOpen > i {
  padding-left: 25%;
}
#mobileTopMenuClose {
  border: 1px solid rgb(152, 190, 89); 
  font-size: 1.5em;
  background-color: #AFD275;
}
#mobileTopMenuClose > i {
  color: white;
}
.ui.menu.topInvisible {
  display: none;
}
.item.mobileMenuItem {
  border: 1px solid rgb(152, 190, 89); 
  font-size: 1.75em;
}
.item.mobileMenuItem > i {
  font-weight: bold;
  color: rgb(152, 190, 89);
}