.homeScreenStoreComp {
  border: 5px solid green;
  margin-top: 5%;
  opacity: 0;
  position: relative;
  left: 100%;
}
.storeShow {
  opacity: 1;
  left: 0%;
  transition: opacity 1.5s ease-in, left 1s ease-in-out;;
  -moz-transition: opacity 1.5s ease-in, left 1s ease-in-out;;
  -webkit-transition: opacity 1.5s ease-in, left 1s ease-in-out;;
}
.homeScreenStoreTitle {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
  font-size: 2em;
  color:  rgb(152, 190, 89);
}
.homeStoreDefaultPhoto {
  border: 2px solid red;
  text-align: center;
}