.loginCompHolder {
  height: 100vh;
  margin-top: 2em;
  background-color: white;
}

.loginTitle {
  font-size: 3em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-bottom: 0.5em;
  border-bottom: 3px solid green;
}